::-webkit-scrollbar {
    display: none;
}

body {
    overflow-x: hidden;
}

#black-line {
    width: auto;
    height: 3vw;
    background-color: black;
}

.time-title {
    margin-left: 13vw;
}

.activity-title {
    margin-left: 15vw;
}

.save-title {
    margin-left: 19vw;
}

.divider {
    height: 1vw;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

/* text inside the rows */
.time {
    padding-left: 7vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    text-align: center;
    /* position: absolute; */
    vertical-align: middle;
}

ul {
    list-style: none;
}